body{background-image: url("login.jpg");
background-size: 100%,100%;
margin: 0;
  padding: 0;
  font-family: sans-serif;
}



.box{
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background:rgba(1, 60, 255, 0.30);
  /*background: #191919;*/
  text-align: center;
  border: 5px solid gold;
  border-radius: 15px;
}
.box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  text-shadow: 3px 2px red;
}
.box p{
  color: white
}
.box input[id="uname"],.box input[id = "passwd"]{
  background: rgb(0, 0, 0,0.50);
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid orange;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  font-size: 18px;
  border-radius: 24px;
  transition: 0.25s;
}
/*.box input[type = "text"]:focus,.box input[type = "password"]:focus{*/
.box input[id = "uname"]:focus,.box input[id = "passwd"]:focus{
  width: 280px;
  border-color: #2ecc71;
}
.box input[id = "submit"]{
  border:0;
  background: rgb(0, 0, 0,0.60);
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[id = "submit"]:hover{
  background: rgb(46, 204, 113);
}
.box a{

  text-decoration:underline; 
  color: green;
}
.box a:hover{
  color: yellow;
}
